<p>Semantically speaking, the potato has a rather Spanish origin. It came from the Spanish word ‘patata’ in the 1950s, which then stemmed from the Caribbean language ‘batata’ or “sweet potato”. Today, the word comes by other slang terms such as spud, tater, and tattie.</p>

<p>China is the world’s largest potato producer and exporter, while the countries India, Germany, Ukraine, Russia, Poland, and the United States are leading producers as well. In the USA alone, all 50 of its states grow the tuber crop, with Idaho and Washington being the largest ones.</p>

<p>There was a time when potatoes were traded with gold directly. Back in the 1890s, the Alaskan Klondlike gold rush potato had very high value due to its essential Vitamin C content.</p>